[Unit]
Description=grid MRA service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mra /var/grid-mra start
Restart=/usr/bin/mra /var/grid-mra restart
ExecStop=/usr/bin/mra /var/grid-mra stop

[Install]
WantedBy=multi-user.target
