[Unit]
Description=grid AGENT service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/agent /var/grid-agent start
Restart=/usr/bin/agent /var/grid-agent restart
ExecStop=/usr/bin/agent /var/grid-agent stop

[Install]
WantedBy=multi-user.target
